# Dependencies
node_modules/
package-lock.json
yarn.lock

# Dist
dist/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.iml

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
